.header-adjust{
	padding-top: 91px;
}

.header-notitle-adjust{
	padding-top: 91px;
}

.h-adjust{
	height: calc(100vh - 91px);
}

.content-bg-color{
	background-color: #fefaf1;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefoxで矢印を消す */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  appearance: auto;
}

.ippo_icon_n{
	width: 100px;
	height: 50px;
	margin-left: 8px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1753080491/IPPO__logo_tvu5ni.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.ippo_icon_n_big{
	width: 218px;
	height: 74px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1753080491/IPPO__logo_tvu5ni.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.icon-camel::after{
	content: '';
	display: inline-flex;
	width: 100px;
	height: 100px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1753058128/camel_dm5s3s.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-icon-google::before{
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749267296/icons8-google%E3%81%AE%E3%83%AD%E3%82%B4_ldlqhq.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 20px;
}

.btn-icon-line::before{
	content: '';
	position: absolute;
	width: 36px;
	height: 36px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1752111786/btn_base_s8n0gf.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 20px;
}

.btn-icon-mail::before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749268482/envelope-regular_hls6il.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	left: 22px;
}

.close-icon{
	position: absolute;
	width: 40px;
	height: 40px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750818660/xmark_dv4bnv.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	top: 12px;
	right: 12px;
}

/*first-set*/
.prf-label{
	position: relative;
	width: 100%;
	padding-left: 35px;
	font-size: 18px;
	font-weight: bold;
}

.prf-label::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid #b6b6b6;
	border-radius: 5px;
	top: calc(50% - 20px/2);
	left: 5px;
}

input:checked + .prf-label::before{
	border-color: #f26a21;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1753156191/check_qagljg.svg");
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
}

.fade-in {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*header*/
.logout{
	width: 28px;
	height: 28px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1751433532/log-out_u96vkj.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateX(-2px);
}

/*slick*/
.slick-slide > div > div {
  display: flex !important;
}

/*HOME*/
.post-marker {	
	transform: translate(-50%, -100%);
	position: relative;
	display: inline-block;
	margin-bottom: 11px;
	padding: 20px;
	border: 3px solid #ffb169;
	border-radius: 9999px;
	background-color: #fff;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #ffb169;
}

.post-marker::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #ffb169 transparent transparent;
  translate: -50% 100%;
}

.post-marker::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 7.6px 5.5px 0 5.5px;
  border-color: #ffffff transparent transparent;
  translate: -50% 100%;
}

.post-image{
	position: absolute;
	width: 34px;
	height: 34px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	top: 3px;
	left: 3px;
	border-radius: 50%;
}

.now-location-button{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	width: 48px;
    height: 48px;
    background-color: #fff;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750821278/position_ya9p1s.svg");
	background-size: 26px;
	background-position: center;
	background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	bottom: 35px;
    right: 10px;
	z-index: 10;
}

.loading-overlay{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 9999;
}

.loading-icon{
	color: #fff;
	font-size: 13px;
}

.loading-icon::before{
	content: '';
	width: 50px;
	height: 50px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1747798532/ajax-loader_1_dwfbcq.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin-bottom: 10px;
}

.date-icon-text::before{
	content: '';
	display: inline-flex;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749995545/clock_gray_ssfqt1.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.time-icon-text::before{
	content: '';
	display: inline-flex;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749995544/calendar_gray_isonee.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.locate-icon-text::before{
	content: '';
	display: inline-flex;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749996016/map-pin_gray_heiv4z.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/*list_box*/
.list-detail-link{
	position: absolute;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	bottom: 10px;
	right: 28px;
}

.list-detail-link::after{
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1752628524/nav-arrow-right_black_b2ay4k.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	top: calc(50% - 18px/2);	
}

/*listDetailDialog*/
.listDetailDialog{
	position: fixed;
	width: 100%;
	height: 100dvh;
	background-color: #fff;
	left: 0;
	transition: 0.3s;
	overflow-y: scroll;
	z-index: 9999;
}

/*message_box*/
.select-tab{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	color: #a5a5a5;
}

.select-tab.select-group div:nth-of-type(1),
.select-tab.select-user div:nth-of-type(2){
    color: #ff7a00;
	font-weight: bold;
}

.select-tab::before{
	content: "";
	position: absolute;
	background-image: linear-gradient(89deg, rgba(253, 152, 38, 1) 30%, rgba(253, 103, 139, 1) 100%);
    border-radius: 3px;
    width: 40%;
    height: 3px;
    position: absolute;
    bottom: 0;
	transition: 0.2s;
}

.select-tab.select-group::before{
    left: calc(50% - 45%);
}

.select-tab.select-user::before{
	left: calc(50% + 5%);
}

/*message-detail*/
.meeting-place-text{
	display: inline-flex;
	justify-content: left;
	align-items: center;
	margin-top: 3px;
	font-size: 12px;
	color: #858585;
	letter-spacing: 0.4px;
}

.meeting-place-text span{
	display: inline-flex;
	justify-content: left;
	align-items: center;
	margin-right: 8px;
}

.meeting-place-text span::before{
	content: '';
	display: inline-flex;
	width: 15px;
	height: 15px;
	margin-right: 1px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1749996016/map-pin_gray_heiv4z.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.message-text{
	position: relative;
	max-width: 80%;
	padding: 2px 12px;
}

.message-text.mine{
	margin-left: auto;
	background-color: #ff9a49;
	color: #fff;
	text-align: right;
	border-radius: 30px 0 30px 30px;
}

.message-text.others{
	background-color: #858585;
	color: #fff;
	text-align: left;
	border-radius: 0 30px 30px 30px;
}

.message-text.mine:after{
	content: "";
	position: absolute;
	top: -8px; 
	right: -9px;
	border: 6px solid transparent;
	border-left: 12px solid #ff9a49;
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
}

.message-text.others:after{
	content: "";
	position: absolute;
	top: -8px; 
	left: -9px;
	border: 6px solid transparent;
	border-right: 12px solid #858585;
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
}

.img-preview-box{
	position: absolute;
	background-color: #cfcfcf;
	padding: 12px;
	border-radius: 10px;
	bottom: 50px;
}

.img-preview-box:after {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #cfcfcf;
	border-width: 5px;
	margin-left: -5px;
}

/*my_page*/
.user-icon-box{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid #c4c4c4;
}

.user-icon{
	position: absolute;
	width: 92%;
	height: 92%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	top: 4%;
	left: 4%;
}

.change-icon{
	position: absolute;
	width: 30px;
	height: 30px;
	right: -2px;
	bottom: -2px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.change-icon::before{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750736914/plus_white_mivdcv.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ff7a00;
	border-radius: 50%;
	top: calc(50% - 24px/2);
	left: calc(50% - 24px/2);
}

.name-text{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
}

.name-text::after{
	content: '';
	display: inline-flex;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1751346643/edit-pencil_y8d6ns.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.my-self-profile{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
}

.my-self-profile::after{
	content: '';
	display: inline-flex;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1751346643/edit-pencil_y8d6ns.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.list-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750907289/list-gray_t47ppu.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

.friend-icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1752542553/group_vyqcbg.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

.list-active::before{
	content: "";
	position: absolute;
	background-image: linear-gradient(89deg, rgba(253, 152, 38, 1) 30%, rgba(253, 103, 139, 1) 100%);
    border-radius: 3px;
    width: 40%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45%);
	transition: 0.2s;
}

.friend-active::before{
	content: "";
	background-image: linear-gradient(89deg, rgba(253, 152, 38, 1) 30%, rgba(253, 103, 139, 1) 100%);
    border-radius: 3px;
    width: 40%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: calc(50% + 5%);
	transition: 0.2s;
}


/*footer*/
.footer-icon{
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center 8px;
	border-radius: 50%;
	box-sizing: border-box;
}

.footer-icon::after{
	font-size: 10px;
}

.footer-icon.home{
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750917826/home-alt-slim-gray_vurm6c.svg");
}
.footer-icon.home::after{
	content: 'HOME';
}

.footer-icon.list{
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750907289/list-gray_t47ppu.svg");
}
.footer-icon.list::after{
	content: 'LIST';
}

.footer-icon.message{
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750917948/message-text-gray_jbzu45.svg");
}
.footer-icon.message::after{
	content: 'MESSAGE';
}

.footer-icon.user{
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750917949/user-middle-gray_z3eql3.svg");
}
.footer-icon.user::after{
	content: 'MY';
}

.footer-icon-center::before{
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: none;
	background-color: #ccc;
	border-radius: 50%;
	top: -25px;
}

.footer-icon-center.active::before{
	background: linear-gradient(#fd9826 30%, #fdd867 100%);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.footer-icon-center::after{
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("https://res.cloudinary.com/dnehmdy45/image/upload/v1750736914/plus_white_mivdcv.svg");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	top: -25px;
}

.footer-icon-center.active{
	animation: button-bound-anime 1.3s linear infinite;
}

@keyframes button-bound-anime{
	0%,33%,100% {
		transform: scale(1.0, 1.0) translate(0, 0);
	}
	46% {
		transform: scale(0.98, 0.9) translate(0, 5px);
	}
	59% {
		transform: scale(1.02, 1.0) translate(0, 8px);
	}
	72% {
		transform: scale(0.98, 1.05) translate(0, -8px);
	}
	85% {
		transform: scale(1.0, 0.9) translate(0, 5px);
	}
}