@import "tailwindcss";
@import './custom.css';

:root {
	--background: #ffffff;
	--foreground: #171717;
    --ippo-bg-color: #fefaf1;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-poppins: var(--font-poppins);
    --font-zen-maru-gothic: var(--font-zen-maru-gothic);
}

@media (prefers-color-scheme: dark) {
    :root {
		--background: #0a0a0a;
		--foreground: #ededed;

        --ippo-orange: #f26a21;
        --ippo-bg-color: #fefaf1;
    }
}

html, body {
    touch-action: manipulation;
}

body {
    background: var(--ippo-bg-color);
    color: var(--foreground);
    color: #333;
    font-family: var(--font-noto-sans-jp), sans-serif;
    height: 100dvh;
    overflow: hidden;
}
